body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #ddd;
  color: #333;
}

#app {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #728878;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.form {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
button {
  margin-top: 5px;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transactionButton {
  display: inline-block;
  padding: 10px;
  background-color: #728878;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #app {
    padding: 10px;
  }
}
